app-home{
    display:block;
}


.wrapper {
    border-radius: 5px;
    background-color: #ddd;
    margin: 20px 5% 15px 25%;
    height: auto;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
    overflow:visible;   
}

.post-wrapper{
    width:90%;
    margin-left:5%;
    margin-right:5%;
    margin-bottom: 4rem;
}

.post-content{
    margin-top: 1rem;
    margin-bottom: -2.5rem;
    color: #333;
    font-family: 'Roboto';
    font-size: 1.2rem;
    font-weight: 200;
    display:block;
}

.content{
    width:90%;
    margin-left:3.5%;
    margin-right:3.5%;
    margin-top:1.5rem;
    margin-bottom: 1.5rem;
    display:block;
    background-image: linear-gradient(to right, #aaa, #ccc);
    overflow:visible;  
    padding: 1rem; 
}

.post-date{
    float:right;
    color:#555;
    font-size: 0.8rem;
    text-align:right;
    font-family: 'Roboto';
    margin-top:2.5rem;
}